<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="Suite1" verbose="1" parallel="tests">
    <test name="chromeTest">
        <classes>
            <class name="com.phoenix.united.tests.Dec24"/>
        </classes>
    </test>


    <test name="firefoxTest" >
        <classes>
            <class name="com.phoenix.united.tests.Dec25_2"/>
        </classes>
    </test>
</suite>
